
@import "./colors.less";

button, .button {
  .headerfont;
  display: block;
  background-color: @color_primary;
  color: @color_secondary;
  font-weight: bold;
  font-size: 20px;
  border: solid 5px @color_secondary;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  width: 100%;
  max-width: 300px;
  &:hover {
    background-color: @color_secondary;
    color: @color_primary;
  }
}

errors {
  color: @color_primary;
  background-color: @color_error;
  border-radius: 5px;
  padding: 5px;
  border-radius: 5px;
  display: block;
}
input.error {
  box-shadow: 0 0 10px @color_error;
  color: @color_error;
}

.deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@card_width: 200px;
@card_height: 200px;
.card {
  position: relative;
  height: @card_height;
  width: @card_width;
  margin: 35px;
  border-radius: 4px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  label, .label {
    opacity: 0.5;
    cursor: inherit;
    text-align: center;
    height: @card_height;
    width: @card_width;
    border: solid 3px #000;
    position: absolute;
    transform: rotate(-30deg);
    left: -30px;
  }
  .autocomplete {
    position: relative;
    top: @card_height + 5px;
    & + div {
      z-index: 9;
    }
  }
  button {
    &.disabled {
      display: none;
    }
    position: relative;
    top: @card_height + 5px;
  }
}
a.card {
  cursor: pointer;
  &:hover {
    label {
      opacity: 1;
    }
  }
}
