
@import "./colors.less";
@import "./fonts.less";

a {
  text-decoration: none;
  color: @color_secondary;
}
a:not(.button):hover {
  text-decoration: underline;
}
a.button {
  padding: 12px 0 0 0;
}
button, .button {
  .headerfont;
  display: block;
  position: relative;
  background-color: @color_secondary;
  color: @color_primary;
  font-size: 17px;
  border: none;
  text-align: center;
  text-decoration: none;
    box-sizing: border-box;
    align-items: flex-start;
    -webkit-appearance: button;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
  padding: 0;
  margin: 12px 0;
  width: 100%;
  max-width: 200px;
  height: 45px;
  cursor: pointer;
  text-transform: uppercase;
  &.centered {
    margin: 12px auto;
  }
  &:after {
    content: '';
    width: 100%;
    max-width: 200px;
    height: 45px;
    position: absolute;
    z-index: -2;
    top: 0px;
    left: 0px;
    background-color: #7f5cff;
    transition: top .2s ease, left .2s linear;
  }
  &:before {
    content: '';
    width: 100%;
    max-width: 200px;
    height: 45px;
    position: absolute;
    z-index: -2;
    top: 0px;
    left: 0px;
    background-color: #5ca9ff;
    transition: top .2s ease, left .2s linear;
  }
  &:hover:after {
    top: -2px;
    left: -2px;
  }
  &:hover:before {
    top: 2px;
    left: 2px;
  }
  &.primary:after {
    top: 4px;
    left: 4px;
  }
  &.primary:before {
    top: -4px;
    left: 10px;
  }
  &.primary:hover:after {
    top: -4px;
    left: -5px;
  }
  &.primary:hover:before {
    top: 4px;
    left: 5px;
  }
}
actions {
  display: flex;
}

errors {
  color: @color_primary;
  background-color: @color_error;
  border-radius: 5px;
  padding: 5px;
  margin: 3px auto;
  border-radius: 5px;
  display: block;
}
input.error {
  box-shadow: 0 0 10px @color_error;
  color: @color_error;
}
input[type="text"], input[type="password"] {
  background-color: @color_support_0;
  border: solid 1px rgba(0,0,0,.1);
  width: 230px;
  &:focus {
    border: solid 1px @color_tertiary;
  }
}

.deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@card_width: 200px;
@card_height: 200px;
.card {
  position: relative;
  height: @card_height;
  width: @card_width;
  margin: 35px;
  border-radius: 4px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  label, .label {
    position: absolute;
    opacity: 0.5;
    cursor: inherit;
    text-align: center;
    height: @card_height;
    width: @card_width;
    border: solid 3px #000;
    transform: rotate(-30deg);
    left: -30px;
    z-index: -1;
  }
  price, .price {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: inline-block;
    padding: 7px;
    width: auto;
    border: 1px solid @color_secondary;
    background-color: @color_primary;
    font-size: 12px;
  }
  .autocomplete {
    position: relative;
    top: @card_height + 5px;
    & + div {
      z-index: 9;
    }
  }
  button {
    &.disabled {
      display: none;
    }
    position: relative;
    top: @card_height + 5px;
  }
}
a.card {
  cursor: pointer;
  &:hover {
    label {
      opacity: 1;
    }
  }
  &.not_link {
    cursor: default;
  }
}
.gallery {
  a.card:not(.not_link):hover {
    border: 3px solid @color_secondary;
  }
  .caption {
    .headerfont;
    z-index: 1;
    background-color: @color_primary;
    width: 100%;
    text-align: center;
  }
}
