
@import "./colors.less";

.cart_header {
  grid-column: span 6;
}

input_address {
  [name="apt"], [name="region"] {
    width: 40px;
  }
  [name="locality"] {
    width: 100px;
  }
  [name="postal"] {
    width: 60px;
  }
}

input_credit {
  [name="cvc"], [name="exp_month"], [name="exp_year"] {
    width: 40px;
  }
}

.cart {

  #paypal-button {
    text-align: center;
  }

  & > section {
    grid-column: span 6;
    border-top: 2px solid @color_support_0;

    input {
      display: inline-block;
    }
    row {
      display: flex;
      flex-flow: row wrap;
    }
    label {
      text-align: right;
    }
    div {
      margin-right: 15px;
    }

    .section_title {
      margin-top: 20px;
      font-weight: bold;
      font-size: 18px;

      &:after {
        position: relative;
        content: '';
        width: 30px;
        background: black;
        height: 2px;
      }
    }
  }

}

@media (min-width: @desktop_min_width), print {
  .cart {
    input[type="text"], input[type="password"], input[type="email"] {
      font-size: 16px
    }

    & > section {
      grid-column: span 4;
      padding: 10px 0;
    }
  }
}

.paymentWrap {
  input[type="text"].cardNum {
    display: inline-block;
    margin-right: 10px;
  }
  input[type="text"].cardCvc, input[type="text"].expMonth, input[type="text"].expYear {
    display: inline-block;
    margin-right: 10px;
    width: 90px;
    min-width: 90px;
  }
}

.checkout_btn {
  margin: 0 0 10px 0;
  min-width: 160px;
}

.packing_slip {
  img.preview, .cart-header, div.price, div.summary_items {
    display: none;
  }
}
