
@color_primary: #fff;
@color_secondary: #000;
@color_tertiary: #c79e6a;
@color_error: #a00;

@color_support_0: #eaeaea;
@color_support_1: #f5c9ca;
@color_support_2: #ff5c5c;
@color_support_3: #7f5cff;
@color_support_4: #5ca9ff;
@color_support_5: #ffdd5c;
@color_support_6: #d6492a;
@color_support_7: #462747;

@color_admin_0: #ff87eb;
@color_admin_1: #76d300;
