
@color_primary: #fff;
@color_secondary: #000;
@color_tertiary: #c79e6a;
@color_highlight: #7f5cff;
@color_error: #a00;
@color_menu: #ffa7c0;


@gradient-rainbow: linear-gradient(135deg, #f5c9ca, #7f5cff 30%, #5ca9ff 48%, #ff5c5c 80%, #ffdd5c);

@color_support_0: #eaeaea;

@color_support_1: #7f5cff;
@color_support_2: #ff5c5c;
@color_support_3: #f5c9ca;
@color_support_4: #ffdd5c;
@color_support_5: #5ca9ff;

@color_admin_0: #f5c9ca;
@color_admin_1: #76d300;
