
@import "./boilerplate.less";
@import "./switch.less";

@customize_emoji_key_height: 40px;
@customize_emoji_key_width: 40px;
@customize_emoji_key_margin: 7px;
customize {
  position: relative;
  display: block;

  .canvasWrap {
    width: 100%;
    display: inline-block;
    position: relative;
  }
  product_options {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  .canvas_container {
    product_options .switch.expanded {
      .rainbow_border;
      z-index: 1;
    }
  }
  .canvas_container {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: flex-end;

    canvas {
      flex-grow: 0;
      height: 400px;
      width: 100%;
      float: right;
      display: block;
      max-height: 100%;
    }
  }
  tabs.components {
    display: block;
  }
  .components .switch {
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }

  .component_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: (@customize_emoji_key_height + (@customize_emoji_key_margin + 2) * 2) * 4 - 5px;
    max-width: 100%;
    overflow-x: scroll;
    margin: 0 8px;

    div {
      height: @customize_emoji_key_height;
      width: @customize_emoji_key_width;
      margin: @customize_emoji_key_margin;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
      cursor: pointer;
    }
    div.backspace {
      .icon;
      .sprite(@backspace);
      background-size: auto;
      margin: 0;
      border: none;
    }
    div.enter {
      .icon;
      .sprite(@enter);
      background-size: auto;
      margin: 0;
      border: none;
    }
  }

  .component_container.letters {
    left: 5%;
    position: relative;
    width: 90%;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: auto;
    overflow: hidden;

    .punnyInputWrap {
      display: inline-block;
      position: relative;
      float: left;
      width: 100%;
      height: auto;
      margin: 0;
      &:after {
        content: '';
        background: @gradient-rainbow;
        height: 5px;
        width: 100%;
        display: block;
        position: relative;
      }
    
      input {
        border: none;
        text-transform: lowercase;
        display: inline-block;
        width: 100%;
        margin-top: 0;
        padding-top: 0;
      }
    }
    .sayIt {
      display: inline-block;
      top: 5px;
      float: left;
      margin: 0;
    }
  }

  //Right Hand Btns
  .cameraBtn {
    .zurichroman;
    border: 0;
    font-weight: 700;
    height: auto;
    display: block;
    padding-top: 10px;
    &:before {
      content: "";
      display: block;
      height: 25px;
      width: 30px;
      margin: 0 auto 10px auto;
      position: initial;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: white;
    }
  }

  .frontview {
    &:before {
      background-image: url(/frontview.svg);
    }
  }

  .backview {
    &:before {
      content: "";
        background-image: url(/backview.svg);
    }
  }

  .centerBtn{
    &:before {
      content: "";
        background-image: url(/centerview.svg);
    }
  }

  .hudBtn {
    border: none;
    font-weight: 700;
    height: auto;
    display: block;
    padding: 10px 0;
    .zurichroman;
    &:before {
      content: "";
      display: block;
      height: 20px;
      width: 30px;
      margin: 0 auto 10px auto;
      position: initial;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: white;
    }
  }

  .hudBtn--delete {
    &:before {
      content: "";
        background-image: url(/bin.svg);
    }
  }

  .hudBtn--rotateLeft{
    &:before {
      content: "";
        background-image: url(/frontview.svg);
    }
  }

  .hudBtn--rotateRight{
    &:before {
      content: "";
        background-image: url(/backview.svg);
    }
  }

  .hudBtn--edit{
    &:before {
      content: "";
        background-image: url(/edit.svg);
    }
  }


  .hudBtn--done{
    &:before {
      content: "";
        background-image: url(/tick.svg);
    }
  }

  .hudBtn--center{
    &:before {
      content: "";
        background-image: url(/centerview.svg);
    }
  }

  hud_controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 10px;
    &.rainbow_border {
      padding: 0 15px 0 15px;
      position: absolute;
      z-index: 1;
      right: 0;
    }
    button:before {
      display: none;
    }
    button:after {
      display: none;
    }
  }

  .product_name {
    position: relative;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 3px solid #7f5cff;
    margin: 5px 15px 0 15px;
  }
} // customize

.product_details {
  .product_name {
    display: none;
  }
  .description {
    margin: 20px auto;
    letter-spacing: 2px;
    line-height: 23px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 40px;
  }
  .size_chart {
    margin: 20px auto;
    display: table;
    border-collapse: collapse;
    font-family: 'zurich_condensedregular', sans-serif;
    grid-column-start: 4;
    grid-column-end: -1;
    margin-top: 40px;
    row {
        border-bottom: 1px solid @color_support_0;
      &:last-child {
        border-bottom:none;
      }
      display: table-row;
      span {
        display: table-cell;
        padding: 5px 5px 5px 10px;
        &:first-child {
          border-right: 1px solid @color_support_0;
        }
      }
    }
  }
} // product_details

.component_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.add_to_cart {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0px;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 10;
  background: @color_primary;
  border-top: 3px solid @color_support_0;
  border-bottom: 3px solid @color_support_0;

  product_options {
    text-align: left;
    span {
      display: block;
      margin-left: 20px;
    }
  }

  .productPrice {
    font-weight: 600;
  }
  product_options {
    display: none;
  }

  .addCart {
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
  }
} // .add_to_cart

.cameraBtn {
  font-size: 10px;
}
.product_details {
  width: 80%;
  margin: auto;
}

@media (min-width: @desktop_min_width) {
  customize {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    .canvas_container {
      grid-column-start: 1;
      grid-column-end: span 5;
      grid-row-start: 1;
      grid-row-end: 5;
      canvas {
        height: 450px;
      }
    }
    .product_details {
      text-align: center;
      grid-column-start: 6;
      grid-column-end: span 4;
      grid-row: 2;
    }
    .canvas_container product_options {
      display: none;
    }
    .add_to_cart {
      grid-column-start: 6;
      grid-column-end: span 4;
      grid-row: 1;
      border: none;
      .product_name {
        display: inline-block;
        text-align: center;
        font-size: 16px;
        padding-top: 40px;
        margin: auto;
        margin-bottom: 20px;
      }
      product_options {
        .rainbow_border;
        display: block;
        padding: 20px;
        margin: 20px;
        margin-top: 0;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        .switch:first-of-type {
          display: none;
        }
        .switch {
          .switch.expanded;
        }
        span {
          margin-bottom: 20px;
        }
      }
      button {
        display: block;
      }
    }
    product_options {
      left: 30px;
      top: 30px;
      z-index: 1;
    }
    hud_controls {
      right: 30px;
      top: 30px;
    }
  }
}
