
@customize_emoji_key_height: 40px;
@customize_emoji_key_width: 40px;
@customize_emoji_key_margin: 4px;
customize {
  product_options {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-top: 50px;
    select {
      font-size: 35px;
    }
  }
  switch {
    background-color: @color_support_0;
    margin-bottom: 20px;
  }
  .canvas_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;

    canvas {
      flex-grow: 1;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      max-height: 100%;
    }
  }
  tabs.components {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    switch {
      margin-bottom: 0px;
    }
  }

  .component_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: (@customize_emoji_key_height + (@customize_emoji_key_margin + 2) * 2) * 4 + 15px;
    max-width: 100%;
    overflow-x: scroll;

    background-color: rgba(200,200,200,0.9);
    div {
      height: @customize_emoji_key_height;
      width: @customize_emoji_key_width;
      margin: @customize_emoji_key_margin;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border: solid 1px #fff;
      border-radius: 10px;
      cursor: pointer;
    }
    div.backspace {
      .icon;
      .sprite(@backspace);
      background-size: auto;
      margin: 0;
      border: none;
    }
    div.enter {
      .icon;
      .sprite(@enter);
      background-size: auto;
      margin: 0;
      border: none;
    }
  }
  .component_virtual_keyboard_container {
    .component_container;
    div {
      margin: @customize_emoji_key_margin;
    }
    align-content: center;
    row {
      display: flex;
      justify-content: center;
      div {
        display: inline-block;
        flex: 0 1 auto;
      }
    }
    div.spacebar {
      .icon;
      .sprite(@spacebar);
      background-size: auto;
      margin: 0;
      border: none;
    }
    div.halfgap {
      height: @customize_emoji_key_height;
      width: @customize_emoji_key_width/2;
      margin: 0 @customize_emoji_key_margin;
      border: none;
    }
  }
}
