
@import "./boilerplate.less";

@customize_emoji_key_height: 40px;
@customize_emoji_key_width: 40px;
@customize_emoji_key_margin: 7px;
customize {
  position: relative;
  display: block;

  .rainbow_border {
    max-width: 94%;
    margin: 0 auto;
  }

  .canvasWrap {
    width: 100%;
    display: inline-block;
  }
  product_options {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;

    span {
      display: none;
    }
    select {
      font-size: 35px;
    }
  }
  .canvas_container {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: flex-end;

    canvas {
      flex-grow: 0;
      height: 400px;
      width: 100%;
      float: right;
      display: block;
      max-height: 100%;
    }
  }
  tabs.components {
    display: block;
  }
  .components switch {
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }

  .component_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: (@customize_emoji_key_height + (@customize_emoji_key_margin + 2) * 2) * 4 - 5px;
    max-width: 100%;
    overflow-x: scroll;
    margin: 0 8px;

    div {
      height: @customize_emoji_key_height;
      width: @customize_emoji_key_width;
      margin: @customize_emoji_key_margin;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
      cursor: pointer;
    }
    div.backspace {
      .icon;
      .sprite(@backspace);
      background-size: auto;
      margin: 0;
      border: none;
    }
    div.enter {
      .icon;
      .sprite(@enter);
      background-size: auto;
      margin: 0;
      border: none;
    }
  }

  .component_virtual_keyboard_container {
    .component_container;
    div {
      margin: @customize_emoji_key_margin;
    }
    align-content: center;
    row {
      display: flex;
      justify-content: center;
      div {
        display: inline-block;
        flex: 0 1 auto;
      }
    }
    div.spacebar {
      .icon;
      .sprite(@spacebar);
      background-size: auto;
      margin: 0;
      border: none;
    }
    div.halfgap {
      height: @customize_emoji_key_height;
      width: @customize_emoji_key_width/2;
      margin: 0 @customize_emoji_key_margin;
      border: none;
    }
  }
  .component_container.letters {
    margin: 0 auto 20px auto;
    padding: 15px;
    bottom: 30px;
    left: ~"calc(72vw - 330px)";
    position: absolute;
    display: inline-block;
    height: auto;
    overflow: hidden;

    .punnyInputWrap {
      display: inline-block;
      position: relative;
      float: left;
      width: 100%;
      height: auto;
      &:after {
        content: '';
        background: @gradient-rainbow;
        height: 5px;
        width: 100%;
        display: block;
        position: relative;
      }
    }
    input {
      border: none;
      text-transform: lowercase;
      display: inline-block;
      width: 100%;
    }
    .sayIt {
      display: inline-block;
      top: 5px;
      float: left;
      margin: 0;
    }

  }


//Right Hand Btns
  .cameraBtn {
    .zurichroman;
    border: 0;
    font-weight: 700;
    height: auto;
    display: block;
    padding-top: 10px;
    &:before {
      content: "";
      display: block;
      height: 25px;
      width: 30px;
      margin: 0 auto 10px auto;
      position: initial;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: white;

    }
  }

  .frontview {
    &:before {
      background-image: url(/frontview.svg);
    }
  }

  .backview {
    &:before {
      content: "";
        background-image: url(/backview.svg);
    }
  }

  .centerBtn{
    &:before {
      content: "";
        background-image: url(/centerview.svg);
    }
  }

  .hudBtn {
    border: none;
    font-weight: 700;
    height: auto;
    display: block;
    padding: 10px 0;
    .zurichroman;
    &:before {
      content: "";
      display: block;
      height: 30px;
      width: 40px;
      margin: 0 auto 10px auto;
      position: initial;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: white;
    }
  }



  .hudBtn--delete {
    &:before {
      content: "";
        background-image: url(/bin.svg);
    }
  }

  .hudBtn--rotateLeft{
    &:before {
      content: "";
        background-image: url(/frontview.svg);
    }
  }

  .hudBtn--rotateRight{
    &:before {
      content: "";
        background-image: url(/backview.svg);
    }
  }

  .hudBtn--edit{
    &:before {
      content: "";
        background-image: url(/edit.svg);
    }
  }


  .hudBtn--done{
    &:before {
      content: "";
        background-image: url(/tick.svg);
    }
  }

  .hudBtn--center{
    &:before {
      content: "";
        background-image: url(/centerview.svg);
    }
  }


  hud_controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 40px;
    &.rainbow_border {
      padding: 0 15px 0 15px;
      position: absolute;
      z-index: 1;
      right: 0;
    }
    button:before {
      display: none;
    }
    button:after {
      display: none;
    }
  }
  @media (max-width: @desktop_min_width) {

    hud_controls {
      top: 0;
      right: 10px;
    }

    customize hud_controls.rainbow_border {
          padding: 0 15px 0 15px;
    }

    .hudBtn {
      padding: 10px 0;
      &:before {
        height: 20px;
        width: 30px;
      }
    }
  }
}

.product_details {
  .description {
    margin: 20px auto;
    letter-spacing: 2px;
    line-height: 23px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 40px;
  }
  .size_chart {
    margin: 20px auto;
    display: table;
    border-collapse: collapse;
    font-family: 'zurich_condensedregular', sans-serif;
    grid-column-start: 4;
    grid-column-end: -1;
    margin-top: 40px;
    row {
        border-bottom: 1px solid @color_support_0;
      &:last-child {
        border-bottom:none;
      }
      display: table-row;
      span {
        display: table-cell;
        padding: 5px 5px 5px 10px;
        &:first-child {
          border-right: 1px solid @color_support_0;
        }
      }
    }
  }
}

@media (min-width: @desktop_min_width) {
  customize {
    .component_wrapper {
      position: relative;
      width: 62vw;
      height: 81vh;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    hud_controls{
      &.rainbow_border {
      padding: 0 45px 0 20px;
      z-index: 1;
      right: 0;
    }
    .hudBtn {
      padding: 20px 0;
    }
  }

    .component_container {
      margin: 0;
      div {
        height: 65px;
        width: 65px;
        margin: 10px;
      }
    }

    div[name=Emoji].rainbow_border {
      z-index: 100;
      max-width: 100%;
      border: none;
      border-top: 3px solid @color_support_0;
      z-index: 0;

      &::before {
        background-image: none;
      }
    }


  .canvasWrap {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  product_options {
    left: auto;
    right: 0;
    max-width: 750px;
    top: 30px;
    span {
      display: block;
      .zurichroman;
      text-transform: uppercase;
      padding-right: 40px;
      text-align: right;
    }
    switch {
      justify-content: flex-end;
      margin-bottom: 10px;
      padding-right: 40px;
    }
  }
  hud_controls:not(.rainbow_border) {
    top: 240px;
    border-top: 3px solid @color_support_0;
  }
  .component_picker {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    border-right: 3px solid @color_support_0;
    width: auto;
    min-width: 484px;
    height: 100%;
    background: white;

    tab_contents {
      max-width: 425px;
      display: flex;
      align-items: left;
      justify-content: left;
      flex-direction: row;
      flex-wrap: wrap;
      flex-flow: row wrap;
      align-content: flex-start;
      overflow-y: scroll;
      flex: 1;
      padding-left: 10px;
    }
    .components {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      height: 95%;
      padding: 20px;
      switch {
      max-width: 425px;
      display: flex;
      align-items: left;
      justify-content: left;
      flex-direction: row;
      flex-wrap: wrap;
      flex-flow: row wrap;
      align-content: flex-start;
        img {
          width: 40px;
        }
      }
      .component_container.letters {
        width: 600px;
        margin-top: 118px;
      }
      .component_container:not(.letters) {
        height: 95%;
        width: 340px;
        padding: 10px 0;
        flex-direction: row;
      }
    }
  }
  .canvas_container {
    border-top: 3px solid @color_support_0;
    border-bottom: 3px solid @color_support_0;
    canvas {
      height: 68vh;
    }
    .component_selected {
      canvas, component_hitbox {
        margin-left: 0px; /* cancel out the dumb in the mobile styles */
      }
    }
  }
}

}

.component_wrapper {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

switch_option img {
  font-weight: 700;
}


.add_to_cart {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  border-top: 1px solid black;
  z-index: 10;
  background: white;
  border-top: 3px solid @color_support_0;

  .productName {
    position: relative;
    display: inline-block;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 800;
    border-bottom: 5px solid #7f5cff;
    margin: 15px 40px 0 0;
  }

  .productPrice {
  font-weight: 600;
  }

  .addCart {
    display: inline-block;
  }
}


@media (max-width: @desktop_min_width) {
customize {
  .component_container.letters {
    top: -20px;
    left: 5%;
    position: relative;
    width: 90%;
    padding: 0;
  }


  .cameraBtn {
    font-size: 10px;
  }
   .product_details {
    .description {
      grid-column-start: 1;
      grid-column-end: -1;
    }
    .size_chart {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }
}

  .add_to_cart {
      height: auto;
      position: relative;
      border: none;
      padding-top: 30px;
    .productName {
      position: relative;
      display: inline-block;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: 3px solid #7f5cff;
      margin: 5px 15px 0 15px;
    }

    .addCart {
      font-size: 16px;
      display: inline-block;
      margin-top: 15px;
    }
  }
}
