
@import "./colors.less";

shipments {
  display: block;
  padding: 10px;
  border: solid 5px @color_menu;
}

@shipping_details_width: 400px;
shipment {
  position: relative;
  display: block;
  width: 95%;
  padding: 20px;
  margin-top: 10px;
  border-bottom: solid 5px rgba(0,0,0,0.5);

  .time_bar {
    display: flex;
    flex-wrap: wrap;
  }
  .header_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .action_bar {
    float: right;
  }
  shipping_details {
    display: block;
    margin-left: 130px;
    font-weight: bold;
    div {
      position: relative;
      width: @shipping_details_width;
      height: 20px;
      label {
        position: absolute;
        right: 5px+@shipping_details_width;
        top: 0px;
        font-weight: normal;
      }
    }
  }
  .assembly {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 400px;
    margin: 10px 0;
    .quant {
      font-weight: bold;
    }
    .label {
      font-size: 12px;
      margin-left: 5px;
    }
  }
}
shipment:last-child {
  border-bottom: none;
}

comments {
  margin-top: -20px;
  display: block;
  metadata {
    display: block;
    font-size: 7px;
  }
  message {
    display: block;
  }
}

.timestamp {
  display: inline-block;
  color: @color_secondary;
  opacity: 0.5;
  width: 180px;
}

@media print {
  shipments {
    border: none;
  }
  .action_bar {
    display: none;
  }
  shipment {
    page-break-after: always;
  }
  .item {
    page-break-after: always;
  }
}
