
@import "./colors.less";

@font-face {font-family:Zurich-Condensed-Bold; src: url(/Zurich__Condensed_BT.ttf) format('truetype');}
.bodyfont {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.43;
  letter-spacing: 1.3px;
  color: @color_secondary;
}
.headerfont {
  font-family: "Zurich-Condensed-Bold", sans-serif;
  color: @color_secondary;
  font-weight: bold;
}
