
@import "./colors.less";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,800');


@font-face {
    font-family: 'zurichbold_condensed';
    src: url('zurichbt-boldcondensed-webfont.woff2') format('woff2'),
         url('zurichbt-boldcondensed-webfont.woff') format('woff'),
         url('zurichbt-boldcondensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'zurich_condensedregular';
    src: url('zurichbt-romancondensed-webfont.woff2') format('woff2'),
         url('zurichbt-romancondensed-webfont.woff') format('woff'),
         url('zurichbt-romancondensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arvobold';
    src: url('arvo-bold-webfont.woff2') format('woff2'),
         url('arvo-bold-webfont.woff') format('woff'),
         url('arvo-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'arvoregular';
    src: url('arvo-regular-webfont.woff2') format('woff2'),
         url('arvo-regular-webfont.woff') format('woff'),
         url('arvo-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bodyfont {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.43;
  letter-spacing: 1.3px;
  color: @color_secondary;
}
.headerfont {
  font-family: "zurichbold_condensed", sans-serif;
  color: @color_secondary;
  font-weight: normal;
  letter-spacing: 0px;
}

.zurichroman {
  font-family: 'zurich_condensedregular', sans-serif;
  font-weight: normal;
}


h1, h2, h3 {
  font-family: "zurichbold_condensed", sans-serif;
  color: @color_secondary;
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 800;
  line-height: 1.43;
  letter-spacing: 1.3px;
  color: @color_secondary;
  text-transform: uppercase;
}

.center {
  text-align: center;
}
