
@import "./boilerplate.less";

.gallery {
  image-rendering: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    height: auto;
    width: auto;
  }
  .card.linebreak {
    display: none;
  }
  a.card {
    margin: 0px;
    box-sizing: border-box;
    border-radius: 0;
    &.not_link:hover {
      text-decoration: none;
    }
  }
  .caption {
    .headerfont;
    text-transform: uppercase;
    font-size: 8px;
    bottom: 0px;
    z-index: 1;
    background-color: @color_primary;
    width: 100%;
    text-align: center;
    padding: 3px 0;
    .price {
      font-family: Arvo;
      position: initial;
      background: none;
      color: @color_secondary;
      padding: 0 0 0 2px;
    }
  }
}
@media (min-width: @desktop_min_width) {
  .gallery {
    .card.linebreak {
      display: block;
      flex-basis: 100%;
      margin: 0px;
    }
    .caption {
      font-size: 16px;
      .price {
        font-size: 14px;
      }
    }
  }
}
