
@import "./colors.less";
@item_preview_width: 200px;
@item_preview_height: 200px;

item {
  display: block;
  &:last-of-type deets {
    border-bottom: solid 1px @color_secondary;
  }
  deets {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-right: 50px;
    margin: auto;
    max-width: 700px;
    border: solid 1px @color_secondary;
    border-bottom: none;
    preview {
      display: block;
      width: @item_preview_width;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      &:not(.disabled) {
        height: @item_preview_height;
      }
    }
    .sku {
      font-style: italic;
      font-size: 13px;
      opacity: 0.8;
    }
    .name {
      font-weight: bold;
    }
    props {
      justify-content: space-between;
    }
  }
}

