
@import "./colors.less";
@item_preview_width: 200px;
@item_preview_height: 200px;
@item_width: 700px;

item {
  display: flex;
  position: relative;
  max-width: @item_width;
  margin: auto;
  border: solid 1px #000000;
  border-bottom: none;
  &:last-of-type {
    border-bottom: solid 1px @color_secondary;
  }
  img.preview {
    max-width: @item_preview_width;
    max-height: @item_preview_height;
  }
  &.has_image {
    min-height: @item_preview_height;
    img.preview {
      display: block;
    }
  }
  deets {
    display: block;
    color: @color_secondary;
    .name, .price {
      font-weight: bold;
    }
    .price {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .remove {
      clear: both;
      background-color: #eaeaea;
      padding: 5px 10px;
      cursor: pointer;
      border: none;
      width: auto;
      font-weight: normal;
      font-size: 15px;
      &:hover {
        color: @color_secondary;
      }
      &.confirm {
        background-color: @color_support_2;
      }
    }
  }
  assembly {
    clear: both;
  }
}

