
@import "./colors.less";
@item_preview_width: 200px;
@item_preview_height: 200px;

item {
  display: block;
  position: relative;
  max-width: 700px;
  margin: auto;
  border: solid 1px #000000;
  border-bottom: none;
  &:last-of-type {
    border-bottom: solid 1px @color_secondary;
  }
  deets {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-right: 50px;
    preview {
      display: block;
      width: @item_preview_width;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      &:not(.disabled) {
        height: @item_preview_height;
      }
    }
    .sku {
      font-style: italic;
      font-size: 13px;
      opacity: 0.8;
    }
    .name {
      font-weight: bold;
    }
    props {
      justify-content: space-between;
    }
  }
  remove {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: @color_support_0;
    padding: 5px;
  }
}

