
@import "./colors.less";

page_edit {
  display: block;
  border: solid 3px @color_tertiary;
  padding: 5px;
  margin-top: 5px;
  element {
    display: block;
    background-color: @color_support_5;
    padding: 3px;
    &:nth-child(2n) {
      background-color: @color_tertiary;
    }
    input[type="text"] {
      width: 100%
    }
  }
}
