
@import "./colors.less";

.page_edit {
  display: block;
  border: solid 3px @color_admin_0;
  padding: 5px;
  margin-top: 5px;
  element {
    position: relative;
    display: block;
    background-color: @color_admin_0;
    padding: 3px;
    border-bottom: solid 3px @color_admin_1;
    &:last-of-type {
      border-bottom: none;
    }
    .card, card {
      margin-top: 30px;
      position: relative;
      .preview {
        width: 150px;
        height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .fields, fields {
      margin-left: 75px;
      .option_group {
        display: flex;
        input[type="file"], input[type="checkbox"] {
          margin-top: 30px;
        }
      }
      div {
        position: relative;
      }
      label {
        position: absolute;
        width: 70px;
        left: -75px;
        top: 28px;
        text-align: right;
      }
      .checkbox label {
        top: 0px;
      }
    }
  }
  .remove {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .actions {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: @color_primary;
  }
}

.edit_hero_product {
  .options {
    display: flex;
    flex-wrap: wrap;
  }
  .option {
    position: relative;
    border: solid 1px @color_primary;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 300px;
    padding: 5px;
  }
}
