
@import "./boilerplate.less";

.purchase_complete {
  width: 700px;
  clear: both;
  margin: auto;

  & > div {
    width: 600px;
    margin: auto;
  }

  img {
    width: 400px;
    display: block;
    margin: auto;
  }

  h1 {
    .headerfont;
    text-align: center;
  }

  p {
    text-align: center;
  }
}
