
signup {
  text-align: center;
  display: block;
  div {
    position: relative;
    display: block;
    width: 300px;
    margin: 2px auto;
    position: relative;
    label {
      position: absolute;
      width: 300px;
      left: -302px;
      text-align: right;
    }
    input[type="text"] {
      width: 100%;
      box-sizing: content-box;
    }
  }
}
