
@import "./boilerplate.less";

.switch {
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px;
  .switch_option {
    z-index: 2;
    position: relative;
    color: @color_secondary;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    max-width: 0px;
    margin: 0px;
    border: none;
    overflow: hidden;
    img {
      font-weight: 700;
    }
  }
}

.switch_option.selected {
  margin: 0 10px;
  border: solid 2px @color_primary;
  min-width: 36px;
  max-width: 165px;
}
.switch.expanded {
  z-index: 1;
  .switch_option:not(.selected) {
    opacity: 0.25;
    &:hover {
      opacity: 1;
    }
  }
  .switch_option {
    .switch_option.selected;
  }
}


product_options .switch.expanded {
  justify-content: flex-begin;
  margin-bottom: 10px;
}


.component_picker {
  .switch {
    justify-content: center;
    .switch_option {
      background-color: @color_primary;
      border: solid 1px @color_support_0;
      color: @color_secondary;
      border-radius: 50%;
      padding: 8px;
      margin:  10px;
    }
    .switch_option.selected, &.expanded .switch_option {
      min-width: 36px;
    }
    &.expanded {
      .rainbow_border;
      z-index: 1;
      .switch_option:not(.selected) {
        opacity: 1;
      }

      .selected {
        border-color: @color_highlight;
      }
    }
    &:not(.expanded) .switch_option:not(.selected) {

    }
  }
}

@media (min-width: @desktop_min_width) {
.component_picker {
  .switch {
    .switch_option {
      width: 65px;
      height: 65px;
      padding: 10px;
      }
    }
  }
}
